<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
</head>
<body>


    <div class="container">
        <div class="jumbotron">
            <h2><span class="glyphicon glyphicon-level-up"></span> DocsDrive</h2>
        </div>
        <div th:replace="temp/navbarTemplate"></div>
        <div class="col-lg-12">
            <table class="table">
                <head>
                    <tr>
                        <th>Nazwa</th>
                        <!-- <th>Typ</th> -->
                        <th>Utworzony</th>
                        <th>Ścieżka</th>
                    </tr>
                </head>
                <tr th:each = "doc : ${list}" >
                    <td><p th:text = "${doc.name}"></p></td>
                    <!-- <td><p th:text = "${doc.type.name}"></p></td> -->
                    <td><p th:text = "${doc.created}"></p></td>
                    <td><a th:href="@{/download/{filename}(filename=${doc.location})}"><p th:text = "${doc.location}"></p></a></td>
                </tr>
            </table>
        </div>

        <a href="upload.html">Upload</a>

    </div>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</body>
</html>